<h2 id="title">Welcome to Ember Countdown Addon</h2>

Countdown String: {{countdown-string startDate=657050213000}}
<br>
Countdown HTML: {{countdown-html startDate=657050213000 interval=1000}}
<br>
Countdown Custom (Months/Days unit): {{countdown-custom-months-days startDate="1/1/2020" interval=1000}} {{! see app/components/countdown-custom-months-days.js }}
<br>
Countdown Custom with custom html tag (Seconds unit): {{countdown-custom-seconds startDate="1/1/2010" interval=1000 htmlTag='b'}} {{! see app/components/countdown-custom-seconds.js }}
<br>
3 Second Interval Update: {{countdown-string startDate="2/14/2017" interval=3000}}
<br>
Suffix & Max: {{countdown-string startDate="1/1/2017" suffix=true max=4}}
<br>
Static countdown (interval=0): {{countdown-string startDate=657050213000 interval=0}}

{{outlet}}
